In [1]:
# Importing all the dependencies and libraries
from web_scrapper.get_data import nse_data
from web_scrapper.values import *
from config import current_folder
import os
import pandas as pd

In [2]:
# Changing the current working directory
'''
current_folder = os.path.dirname(os.path.abspath(os.getcwd()))
os.chdir(current_folder)
print(current_folder)
'''

In [3]:
# Creating the NSE_data package class - object
a = nse_data(current_folder)

In [4]:
# Getting all the Indices from NSE website
# Data can be saved using `save_data = True`
indices = a.get_all_indices()
print(indices)

Sending request to website : https://www.nseindia.com/products-services/indices-broad-market
Session Initialized
Response Recieved....
Extracting all the Indices .....
Sending request to website : https://www.nseindia.com/products-services/indices-sectoral
Session Initialized
Response Recieved....
Extracting all the Indices .....
Sending request to website : https://www.nseindia.com/products-services/indices-thematic
Session Initialized
Response Recieved....
Extracting all the Indices .....

---- Stats of the Collected Indices ----
Total indices collected : 71
{'Broad Market': [{'name': 'Nifty 50 Index', 'url': 'https://www.nseindia.com/products-services/indices-nifty50-index'}, {'name': 'Nifty Next 50 Index', 'url': 'https://www.nseindia.com/products-services/indices-niftynext50-index'}, {'name': 'Nifty 100 Index', 'url': 'https://www.nseindia.com/products-services/indices-nifty100-index'}]}

In [5]:
# Stats about the extracted indices
for i in indices.keys():
    print("Market Sector : ", i)
    print("Total Indices present :", len(indices[i]))

Market Sector :  Broad Market
Total Indices present : 19
Market Sector :  Sectoral
Total Indices present : 19
Market Sector :  Thematic
Total Indices present : 33

In [6]:
# How to reading and extract the stocks list from the indices.csv
indices_links = None
company_detail = None
with open('D:\Wealth Maven\code\stock_data\Indices.csv') as f:
    indice_links = pd.read_csv(f)

for i in range(len(indice_links)):
    indice = indice_links.loc[i]
    indice_stocks = a.get_stocks_list(indice["link"])
    # Printing one companies data
    company_detail = indice_stocks[0]
    print(indice_stocks[0])
    break

Sending request to website : https://www.nseindia.com/products-services/indices-nifty50-index
Session Initialized
Response Recieved....

Indice Name :  Nifty 50 Index
Total Links Extracted :  569

Extracting the CSV File....
Url :  https://nsearchives.nseindia.com/content/indices/ind_nifty50list.csv
--- CSV file downloaded ---

Total Stocks : 50
Columns : ['Company Name', 'Industry', 'Symbol', 'Series', 'ISIN Code']
{'Company Name': 'Adani Enterprises Ltd.', 'Industry': 'Metals & Mining', 'Symbol': 'ADANIENT', 'Series': 'EQ', 'ISIN Code': 'INE423A01024'}

In [7]:
# Getting all the details related to the particluar company
# To get all the details set `raw_data = True`
company_details = a.stock_data(company_detail["Symbol"])
print("\nCompany : ", company_detail["Symbol"])
for i in company_details.keys():
    print("\n",i)
    for j in company_details[i].keys():
        print(f"{j} : {company_details[i][j]}")

Sending request to website : https://www.nseindia.com/api/quote-equity?symbol=ADANIENT
Session Initialized
Response Recieved....
Extracting information for the stock : ADANIENT

Company :  ADANIENT

 metadata
series : EQ
symbol : ADANIENT
isin : INE423A01024
status : Listed
listingDate : 04-Jun-1997
industry : Trading - Minerals
lastUpdateTime : 03-Sep-2024 16:00:00
pdSectorPe : 76.06
pdSymbolPe : 80.4
pdSectorInd : NIFTY 50
pdSectorIndAll : ['NIFTY 50', 'NIFTY 500', 'NIFTY METAL', 'NIFTY 200', 'NIFTY100 LIQUID 15', 'NIFTY HIGH BETA 50', 'NIFTY100 ESG', 'NIFTY50 EQUAL WEIGHT', 'NIFTY LARGEMIDCAP 250', 'NIFTY100 ESG SECTOR LEADERS', 'NIFTY500 MULTICAP 50:25:25', 'NIFTY500 LARGEMIDSMALL EQUAL-CAP WEIGHTED', 'NIFTY TOTAL MARKET', 'NIFTY500 EQUAL WEIGHT', 'NIFTY 100', 'NIFTY100 EQUAL WEIGHT']

 priceInfo
lastPrice : 3035.95
change : -6.200000000000273
pChange : -0.2038032312673692
previousClose : 3042.15
open : 3037
close : 3036.1
vwap : 3036.89
lowerCP : 2737.95
upperCP : 3346.35
pPriceBand : No Band
basePrice : 3042.15
intraDayHighLow : {'min': 3023.8, 'max': 3053.05, 'value': 3035.95}
weekHighLow : {'min': 2142, 'minDate': '20-Nov-2023', 'max': 3743.9, 'maxDate': '03-Jun-2024', 'value': 3035.95}
iNavValue : None
checkINAV : False
tickSize : 0.05

 industryInfo
macro : Commodities
sector : Metals & Mining
industry : Metals & Minerals Trading
basicIndustry : Trading - Minerals

In [8]:
# Searching for available stocks with just string values
string_value = "sey"
result = a.search_stocks(string_value)

for i in result:
    print(f"Symbol : {i['symbol']}, Compnay : {i['company']}")

Sending request to website : https://www.nseindia.com/api/search/autocomplete?q=sey
Session Initialized
Response Recieved....
Stocks with name : sey Total :  2

Symbol : SEYAIND, Compnay : Seya Industries Limited
Symbol : LOTUSEYE, Compnay : Lotus Eye Hospital and Institute Limited

In [9]:
from datetime import datetime, timedelta

# Extracting the values and prices of a stock
# Set both start and end date
# The data is saved in the `current_folder`
symbol = company_detail["Symbol"]
start_date = datetime.now() - timedelta(days = 7)
a.historical_stock_data(
    symbol = symbol, 
    start_date = start_date )

Session Initialized
Url :  https://www.nseindia.com/api/historical/cm/equity?symbol=ADANIENT&series=[%22EQ%22]&from=27-08-2024&to=03-09-2024&csv=true
Start date :  27-08-2024
End date :  03-09-2024
         Date  series      OPEN      HIGH       LOW  PREV. CLOSE       ltp   \
0  02-Sep-2024      EQ  3,021.10  3,059.15  2,997.60     3,019.35  3,039.00
1  30-Aug-2024      EQ  3,030.00  3,038.55  3,003.30     3,020.15  3,033.00
2  29-Aug-2024      EQ  3,030.00  3,041.95  2,981.30     3,028.00  3,022.00
3  28-Aug-2024      EQ  3,078.00  3,078.00  3,022.10     3,067.10  3,028.00
4  27-Aug-2024      EQ  3,072.20  3,095.75  3,064.00     3,069.00  3,067.00

     close      vwap     52W H     52W L     VOLUME               VALUE   \
0  3,042.15  3,025.26  3,743.90  2,142.00  18,42,658   5,57,45,22,547.20
1  3,019.35  3,019.69  3,743.90  2,142.00  35,09,174  10,59,66,22,023.00
2  3,020.15  3,007.33  3,743.90  2,142.00  18,53,966   5,57,54,88,281.30
3  3,028.00  3,041.32  3,743.90  2,142.00  15,69,652   4,77,38,06,258.80
4  3,067.10  3,078.59  3,743.90  2,142.00  13,10,440   4,03,43,10,722.25

  No of trades
0        73,749
1        77,468
2      1,00,949
3        62,349
4        43,632
Data saved in file : D:\Wealth Maven\code\stock_data\ADANIENT_27-08-2024.csv

In [54]:
# The file will be stored in the `current folder`
# File name => Symbol_start date

location = f"{current_folder}\{symbol}_{start_date.strftime('%d-%m-%Y')}.csv"
stock_data = None
with open(location, "r") as f:
    stock_data = pd.read_csv(f) 

print(stock_data.columns.to_list())
print("Total dates : ", len(stock_data))

['Unnamed: 0', 'Date ', 'series ', 'OPEN ', 'HIGH ', 'LOW ', 'PREV. CLOSE ', 'ltp ', 'close ', 'vwap ', '52W H ', '52W L ', 'VOLUME ', 'VALUE ', 'No of trades ']
Total dates :  5

In [55]:
# Converting all the header values 
stock_data.columns = stock_data.columns.str.strip().str.lower()

# removing the unwanted columns - Unnamed 0, series
stock_data = stock_data.drop(columns = ['unnamed: 0', 'series'])

print(stock_data.columns.to_list())

['date', 'open', 'high', 'low', 'prev. close', 'ltp', 'close', 'vwap', '52w h', '52w l', 'volume', 'value', 'no of trades']

In [56]:
# removes all commas(,) from the numbers
stock_data.loc[:, stock_data.columns[1:]] = stock_data.loc[:, stock_data.columns[1:]].applymap(lambda x: x.replace(',', '') if isinstance(x, str) else x)

stock_data.loc[:3,stock_data.columns[2:5]]

C:\Users\HP\AppData\Local\Temp\ipykernel_20436\2877630798.py:2: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  stock_data.loc[:, stock_data.columns[1:]] = stock_data.loc[:, stock_data.columns[1:]].applymap(lambda x: x.replace(',', '') if isinstance(x, str) else x)

      high      low prev. close
0  3059.15  2997.60     3019.35
1  3038.55  3003.30     3020.15
2  3041.95  2981.30     3028.00
3  3078.00  3022.10     3067.10

In [57]:
stock_data.dtypes

date            object
open            object
high            object
low             object
prev. close     object
ltp             object
close           object
vwap            object
52w h           object
52w l           object
volume          object
value           object
no of trades    object
dtype: object

In [58]:
# Convert all columns except date
columns_to_change = stock_data.columns[1:]
for columns in columns_to_change:
    stock_data[columns] = stock_data[columns].astype('float64')

# Changing the data types of [volumne, no of trades] - 'int64'
stock_data = stock_data.astype({
        'volume' : 'int64',
        'no of trades' : 'int64'
    })

print(stock_data.dtypes)

date             object
open            float64
high            float64
low             float64
prev. close     float64
ltp             float64
close           float64
vwap            float64
52w h           float64
52w l           float64
volume            int64
value           float64
no of trades      int64
dtype: object

In [60]:
# Getting some statistical data out of the stocks price

print(stock_data.describe())

# Calculating the volatility of the stock prices in each day
stock_data['high_low_diff'] = stock_data['high'] - stock_data['low']
stock_data['open_low_diff'] = stock_data['open'] - stock_data['low']

stock_data[["high_low_diff","open_low_diff"]]

              open         high          low  prev. close          ltp  \
count     5.000000     5.000000     5.000000     5.000000     5.000000
mean   3046.260000  3062.680000  3013.660000  3040.720000  3037.800000
std      26.655731    24.252721    31.692949    25.185626    17.484279
min    3021.100000  3038.550000  2981.300000  3019.350000  3022.000000
25%    3030.000000  3041.950000  2997.600000  3020.150000  3028.000000
50%    3030.000000  3059.150000  3003.300000  3028.000000  3033.000000
75%    3072.200000  3078.000000  3022.100000  3067.100000  3039.000000
max    3078.000000  3095.750000  3064.000000  3069.000000  3067.000000

            close         vwap   52w h   52w l        volume         value  \
count     5.00000     5.000000     5.0     5.0  5.000000e+00  5.000000e+00
mean   3035.35000  3034.438000  3743.9  2142.0  2.017178e+06  6.110950e+09
std      19.97101    27.537901     0.0     0.0  8.635545e+05  2.588248e+09
min    3019.35000  3007.330000  3743.9  2142.0  1.310440e+06  4.034311e+09
25%    3020.15000  3019.690000  3743.9  2142.0  1.569652e+06  4.773806e+09
50%    3028.00000  3025.260000  3743.9  2142.0  1.842658e+06  5.574523e+09
75%    3042.15000  3041.320000  3743.9  2142.0  1.853966e+06  5.575488e+09
max    3067.10000  3078.590000  3743.9  2142.0  3.509174e+06  1.059662e+10

       no of trades  high_low_diff  open_low_diff
count       5.00000       5.000000       5.000000
mean    71629.40000      49.020000      32.600000
std     21024.99185      14.382785      19.462014
min     43632.00000      31.750000       8.200000
25%     62349.00000      35.250000      23.500000
50%     73749.00000      55.900000      26.700000
75%     77468.00000      60.650000      48.700000
max    100949.00000      61.550000      55.900000

   high_low_diff  open_low_diff
0          61.55           23.5
1          35.25           26.7
2          60.65           48.7
3          55.90           55.9
4          31.75            8.2